@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1180px){
    .contanir-69{
        max-width: 1220px;
        padding: 0px 20px;
        margin: auto;
    }
}

@media (min-width: 1680px){
    .contanir-70{
        max-width: 1720px;
        padding: 0px 20px;
        margin: auto;
    }
}

.parent-00 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.bs:hover{
    box-shadow: 0px 0px 20px #773844;
}